<div class="col-xs-12">
	<h2 class="site-brand">My Game Profiles for {{ctrl.game.name}}</h2>
	<div class="divider"></div>
</div>
<div class="row">
	<div ng-repeat="profile in ctrl.profiles" class="col-xs-12 col-md-3">
		<div class="panel panel-default hoverable" ui-sref="profiles.detail({id:profile.id})">
			<!-- <img class="img-responsive" 
				ng-src="{{game.display_image_url}}" 
				class="img-rounded"> -->
			<div class="panel-body flex-row">
			  	<p>{{profile.name}}</p>
			  	<div class="flex-fill"></div>
				<p ng-style="{color: (profile.percentage_complete|getPercentageColor)}">
					{{profile.percentage_complete}}%
				</p>
			</div>
		</div>
	</div>

	<div class="col-xs-12 text-center"
		ng-if="!ctrl.profiles.length">
		<h1 class="site-brand">You do not have any profiles for {{ctrl.game.name}}</h1>
	</div>
	<div class="col-xs-12 text-center"
		ng-class="ctrl.getAddPanelClasses()">
		<div class="panel panel-default hoverable" 
			ng-click="ctrl.showAddModal()">
			<div class="panel-body flex-row flex-v-center flex-h-center">
			  	<div>
			  		<i class="fas fa-plus fa-5x green-text"></i>
			  		<h4>Add Profile</h4>
			  	</div>
			</div>
		</div>
	</div>
</div>