/* RGB */
$dark-green: rgba(13, 146, 99, 1);
$green: rgba(74, 186, 145, 1);
$dandelion: rgba(212, 206, 70, 1);
$moss: rgba(186, 163, 119, 1);
$white: #ffffff;

$cursive-font: 'Kavivanar', cursive;
$regular-font: 'Open Sans', sans-serif;

$footer-height: 40px;

.cursive {
	font-family: $cursive-font;
}

.green-text {
	color: $green;
}